body {
    background: url("./imagens/fundo.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial';
}

table {
    border-collapse: collapse;
    margin: 0 auto; 
    width: 600px;
}
th, td {
    border: 2px solid silver;
    padding: 8px;
    text-align: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 28px;
    color: limegreen;
}
